/* ./src/index.css */
@tailwind base;
@tailwind components;
.hero-bg {
    background: rgb(0 0 0 / 39%);
    padding: 3em;
    border-radius: 3em;
    position: relative;
    z-index: 1;
    backdrop-filter: blur(10px);
    border: solid 2px transparent;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px  rgba(46, 54, 68, 0.03);
}
@tailwind utilities;

.my-orange {
    background-color: #DE6616;
    color: #FFF;
}
.my-red {
    background-color: #BE0027;
    color: #FFF;
}
.my-blue {
    background-color: #1798BF;
    color: #FFF;
}
.my-green {
    background-color: #598C14;
    color: #FFF
}
.menu-bar {
    width: 25px;
    margin-top: 5px;
    border-bottom: 3px solid black;
    display: block;
}
.omenu {
    position: relative;
}
.omenu *{
    position: absolute;


}
.bar-1 {
    margin-top: 0;
}
.omenu .bar-1 {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotatez(60deg);

}
.omenu .bar-2 {
    display: none;
}
.omenu .bar-3 {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotatez(-60deg);


}
.fa-w-16 {
    width: 25px;
}


